<h1><%=current_user.username.capitalize%>'s <%=@console.name%></h1>

<p>Company: <%=@console.company%><br />
  Date Added:<%=@console.date_added%><br />
  Generation:<%=@console.generation%><br />
  Games:<%=@console.generation%><br />
</p>
