<h1><%=current_user.username.capitalize%>'s <%=@console.name%></h1>

<p>
  Date Added:<%=@console.date_added%><br />
  Generation:<%=@console.generation%><br />
  Games:<ul> <%@console.games.each do |game|%>
         <li><a href= "/games/<%=game.slug%>"><%=game.name.capitalize%></a></li>
   <%end%>
     </ul>
</p>

 <a href="/games/new">Add a game</a>
 <br>
  <a href="/consoles/<%=@console.slug%>/edit">Edit Console</a>
  <br>
  <form method="POST" action="/consoles/<%=@console.slug%>/delete">
    <input type="submit" value="Delete Console">
  </form>
  <a href = '/consoles'>Your Consoles</a><br />
  <br>
  <br>
  <a href = '/games'>Your Games</a><br />
  <br>
  <br>
<a href="/users/:slug">Back to your Collection</a>
<br>
<br>
<a href="/logout">Logout</a>
