<h1><%=current_user.username.capitalize%>'s <%=@console.name%> (<%=@console.company%>)</h1>

<p>
  Date Added:<%=@console.date_added%><br />
  Generation:<%=@console.generation%><br />
  Games:<%=@console.games%><br />
</p>



<% if logged_in? && @console.user_id == session[:user_id] %>
  <a href="/consoles/<%=@console.slug%>/edit">Edit Console</a>
  <br>
  <a href="/consoles/<%=@console.slug%>/delete">Delete Console</a>
<% end %>

<a href="/users/:slug">Back to your Collection</a>
<br>
<br>
<a href="/logout">Logout</a>
