<h1><%= @user.username %>'s Collection</h1>

<p> <% if Game.all !=[] %>
      Highest Rated Game: <a href ="/games/<%=Game.best.slug %>"><%=Game.best.name %></a> <br />
     <% if Console.favorite_console %>
          Favorite Console: <a href = "/consoles/<%= Console.favorite_console.slug %>"> <%= Console.favorite_console.name %></a><br />
      <% end %>
      Favorite Developer: <%= Game.most_common_developer %> <br />
      Favorite Genre: <%= Game.most_common_genre %> <br />
    <% end %>

</p>





<a href = '/consoles'>Your Consoles</a><br />
<a href = '/consoles/new'>Add a new console</a><br />
<%if Console.all ==[]%>
  Before you add any games please add a console<br />
<%else%>
  <a href = '/games'>Your Games</a><br />
  <a href = '/games/new'>Add a new game</a><br />
<%end%>
<a href="/logout">Logout</a>
