<h1><%= @user.username %>'s Collection</h1>

<p> <% if @user.games !=[] %>
      Highest Rated Game: <a href ="/games/<%=@user.games.best.slug %>"><%=@user.games.best.name.capitalize %></a> <br />
     <% if @user.games.group(:console_id).count.sort_by{|k, v| v}.last.first != nil %>
          Favorite Console: <a href = "/consoles/<%= @user.consoles.find(@user.games.group(:console_id).count.sort_by{|k, v| v}.last.first).slug %>"> <%= @user.consoles.find(@user.games.group(:console_id).count.sort_by{|k, v| v}.last.first).name %></a><br />
      <% end %>
      Favorite Developer: <%= @user.games.most_common_developer %> <br />
      Favorite Genre: <%=@user.games.most_common_genre %> <br />
    <% end %>

</p>


<a href = '/consoles'>Your Consoles</a><br />
<a href = '/consoles/new'>Add a new console</a><br />
<%if @user.consoles ==[]%>
  Before you add any games please add a console<br />
<%else%>
  <a href = '/games'>Your Games</a><br />
  <a href = '/games/new'>Add a new game</a><br />
<%end%>
<a href="/logout">Logout</a>
<form method="POST" action="/users/<%=@user.slug%>/delete">
  <input type="submit" value="Delete Account">
</form>
