<h1><%=current_user.username.capitalize%>'s <%=@game.name%></h1>

<p>
  Console:<% if @game.console_id %><a href="/consoles/<%=@game.console.slug%>"> <%=@game.console.name.capitalize%></a><%end%><br />
  Developer: <%=@game.developer%><br />
  Genre: <%=@game.genre%><br />
  Your Score: <%=@game.review%><br />
  Date Added: <%=@game.date_added%><br />

</p>




  <a href="/games/<%=@game.slug%>/edit">Edit Game</a>
  <br>
  <form method="POST" action="/games/<%=@game.slug%>/delete">
    <input type="submit" value="Delete Game">
  </form>

<a href = '/consoles'>Your Consoles</a><br />
<br>
<br>
<a href = '/games'>Your Games</a><br />
<br>
<br>
<a href="/users/:slug">Back to your Collection</a>
<br>
<br>
<a href="/logout">Logout</a>
