<h1><%=current_user.username.capitalize%>'s <%=@game.name%></h1>

  <ul>
    <li> Console:<% if @game.console_id %><a href="/consoles/<%=@game.console.slug%>"> <%=@game.console.name.capitalize%></a><%end%></li>
    <li> Developer: <%=@game.developer%></li>
    <li>Genre: <%=@game.genre%></li>
    <li>Your Score: <%=@game.review%></li>
    <li>Date Added: <%=@game.date_added%></li>

  </ul>



  <a href="/games/<%=@game.slug%>/edit">Edit Game</a>
  <br>
  <form method="POST" action="/games/<%=@game.slug%>/delete">
    <input type="submit" value="Delete Game">
  </form>

<a href = '/consoles'>Your Consoles</a><br />
<a href = '/games'>Your Games</a><br />
<a href="/users/:slug">Back to your Collection</a><br />
<a href="/logout">Logout</a><br />
